<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="js/icecream.js" defer></script>
    <link rel="stylesheet" href="styles/stylesheet.css" />
  </head>
  <body>
    <div class="form-body">
      <header>
        <h1>Ice Cream Order Form</h1>
      </header>

      <form action="#" id="cream-form" method="get">
        <fieldset class="personal-info-field">
          <legend>Personal Information</legend>
          <label for="fname">Name:</label>
          <input type="text" name="fname" id="fname" />
          <span id="err-fname" class="error">Please enter a name</span>
          <br />
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" />
          <span id="err-email" class="error">Please enter your email.</span>
        </fieldset>
        <fieldset class="order-details-field">
          <legend>Order details</legend>
          <label class="choices-label">
            Choose your flavor:
            <select id="flavor-dropdown">
              <option value="">Pick a flavor...</option>
              <option value="vanilla">Vanilla</option>
              <option value="chocolate">Chocolate</option>
              <option value="strawberry">Strawberry</option>
            </select>
          </label>
          <span id="err-flavor" class="error">Please choose a flavor.</span>
          <label class="choices-label"> Choose your cone: </label>
          <div>
            <input type="radio" id="waffcone" name="method" />Waffle cone
            <input type="radio" id="sugarcone" name="method" />Sugar cone
            <input type="radio" id="cup" name="method" />Cup
          </div>
          <span id="err-method" class="error">Please select a cone.</span>
          <label class="choices-label"> Toppings: </label>
          <div>
            <input type="checkbox" />Sprinkles <input type="checkbox" />Nuts
            <input type="checkbox" />Cherry <input type="checkbox" />Whipped
            cream
          </div>
          <span id="err-checkbox" class="error"></span>
          <label id="comment">Additional comments:</label>
          <textarea> </textarea>
        </fieldset>
        <button type="submit">Submit Order</button>
      </form>
    </div>
  </body>
</html>
