*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(208, 230, 248);
}

.form-body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 30rem;
    padding: 2rem;
    border-radius: 1em;
    box-shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.467);
}

#cream-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6em;
}

.personal-info-field {
    width: 100%;
    border: 1px solid lightgray;
}

.personal-info-field label{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.personal-info-field input {
    width: 100%;
    height: 2rem;
    padding: 0em 1em;
    box-sizing: border-box;
    border-radius: 0.4em;
    border: none;
    background-color: rgb(243, 243, 243);
}

.personal-info-field input:focus {
    outline: none;
    border: 1px solid rgb(47, 217, 255);
}

legend{
    color:green;
}

.order-details-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid lightgray;
}

.choices-label {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

#cream-form button {
    width: 100%;
    margin: 0em 1em;
    height: 3.2em;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0px 0px 3px gray;
    background-color: rgb(104, 174, 0);
    color: white;
    transition: 0.4s;
}

select {
    height: 35px;
    background-color:white;
    border-radius: 5px;
    border: 1px solid lightgray;
}

textarea {
    resize: vertical
}

#cream-form button:active {
    background-color: rgb(150, 242, 12);
    color: gray;
    box-shadow: 0px 0px 0px gray;
}

legend{
    margin:auto;
}

fieldset{
    border-radius: 1em;
}

.error {
    color: red;
    display: none;
}